.sidebar {
    width: 20%;
    background-color: #b9640a;
    color: white;
    padding: 20px;
    z-index: 1030;
  }
  
  .sidebar h3 {
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }