
/* Conteneur principal */
.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  /* Barre latérale */
  .sidebar {
    width: 250px;
    background-color: #b9640a;
    color: white;
    padding: 20px;
  }
  
  .sidebar h3 {
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Contenu principal */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  
  /* Barre de navigation */
  .navbar {
    background-color: #097640;
    color: white;
    padding: 15px;
    font-size: 18px;
    text-align: center;

  }
  
  /* Zone de contenu */
  .content {
    padding: 20px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    padding: 20px;
}

.btn-deconnecter {
    margin-top: auto; /* Pousse le bouton vers le bas */
    background-color:  #097640;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn-deconnecter:hover {
    background-color: #00cc4b;
}

.search-bar {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 800px;
}
  .icon{
  margin: 0 0 0 90px;
  display: inline-block;
}

h4{
  margin: 0 0 0 40px;
  display: inline-block;
}
.nouveau{
  left: "30%";
  
}